body
{
	
	background-color:powderblue;
}
header{
background-color:rgb(13, 233, 167);
border:0.5px solid rgb(10, 143, 196);
font-size: 13px;
text-align:center;
font-family: 'Lucida Sans';

}
footer{
background-color:yellowgreen;
font-style: italic;
text-align:center;
font-size: 17px;
}
article{
background-color:rgba(141, 81, 20, 0.925);	
}


#past-section{
	/* float: left; */
background-color: #aa7878 ;
}



#present-section{
	background-color: 	rgb(143, 155, 206);
	/* float: left; */
	/* width: 700px; */
}
#future-section{
	background-color: 	rgb(100, 187, 78);
}
#hobby-header{
	background-color: 	rgb(189, 174, 40);
}
table, th, td {
	
    border: 1px solid black;
	border-collapse:collapse;
	background-color: rgb(204, 138, 51);
}

#img{
	float: right;
	margin-top: 1%;
	margin-right: 5%;
	border-radius: 50%;
}

#video{
	position: absolute;
    left: 60rem;
    top: 53%;
}